/* For Smartphones */
@media (max-width: 670px) {
    ..main {
      width: 100%;
    }
    
    footer {
      text-align: center;
    }
    
    h1 {
        color:darkorange;
        font-size:24px;
    }
}