body {
  width:auto;
  background: #E3277B;
  font-family:"Bookman Old Style";
  
}

li {
  list-style: none;
  text
}


a:link , a:visited {
  background-color: #fe017d;
  color: white;
  /*make it a button -->padding: 14px 25px;*/
  text-align: center; 
  text-decoration: none;
  display: inline-block;
  font-weight:bold;
}


/* mouse over link */
a:hover, a:active {
  background-color: hotpink;
  text-decoration: none;
}



.header {
  background-color: #26d0c9;
  color: #fff;
  height: 90px;
}

.header-logo {
  float:left;
  font-size:36px;
  padding: 20px 40px;
}

.header-list li {
  float: left;
  padding:33px 20px;
}

.main {
  padding:100px 80px;
}

.top h1 {
  font-family:"Bookman Old Style";
  /*why do some font families work, and others don't? I think it is because fonts need to be loaded in the browser*/
  /*why do some p tags appear immediately below the h1 and others don't? */
  font-size:43px;
  margin:0;
  color:#AFAFAF;
}

.top p {
  margin:0;
  background-color: aquamarine;  
}

.top ul {
  margin:-19px;
}

.top li {
  float:right;
  background-color:pink;
  color: #000000;
  margin-right:75px;
}

img {
  padding:0px 80px;
  border-radius:50%;
}

.contents {
  height:400px;
}

.contents-item {
  float:left;
}

.contents-item h1 {
  font-size: 100px;
  margin:0;
}

.contents-item h3 {
  font-size:80px;
  margin:0;
  font-weight: normal;
}

.contents-item li {
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  float:left;
  color:#ffffff;
  font-size: 12px;
  padding:42px;
  border:1px solid #000000;
}

.footer {
  background-color:#AFAFAF;
  height: 60px;
  padding:40px;
}

.footer-logo {
  float:left;
  font-size:16px;
}

.footer-list {
  float:right;
  margin-top:-19px;
}

/*.footer-list li {
  padding-bottom: 5px;
}*/
