body {
  width:auto;
  background: #ffffff;
  font-family:"Bookman Old Style";
  margin:100px;
  color:#FF33C7;
}

/*Apply box-sizing:border-box; to all elements*/
* {
  box-sixing:border-box;
}

/*smartphone color- orange*/
@media (max-width:670px) {
  h1 {
    color:#FF5733;
  }
}
/*tablet color- blue, desktop color- hot pink*/
@media (max-width:1000px) {
  h1 {
    color:#3382FF;
  }
}

li {
  list-style: none;
  
}

a:link , a:visited {
  background-color: #fe017d;
  color: white;
  padding: 14px 25px;
  text-align: center; 
  text-decoration: none;
  display: inline-block;
  font-weight:bold;
}


/* mouse over link */
a:hover, a:active {
  background-color: hotpink;
  text-decoration: none;
}


/*CSS for header- omit?*/
/*.header {
  background-color: #26d0c9;
  color: #fff;
  height: 90px;
  margin:100px;
}

.header-logo {
  float:left;
  font-size:36px;
  padding: 20px 40px;
}

.header-list li {
  float: left;
  padding:33px 20px;
}
*/
.main {
  padding:100px 80px;
  /*position:fixed;
  top:0;
  z-index: 10;*/
}

.top h1 {
  font-family:"Bookman Old Style";
  /*why do some font families work, and others don't? I think it is because fonts need to be loaded in the browser*/
  /*why do some p tags appear immediately below the h1 and others don't? */
  font-size:43px;
  margin:0;
  color:#E3277B;
}

.top p {
  margin:0;
  background-color: #ffffff;
  font-size: 22px;
}

.top ul {
  margin:0px;
}

.top li {
  float:right;
  background-color:#ffffff;
  color: #000000;
  padding-right:75px;
  margin:0;
}

.contents {
  height:400px;
}

.contents-item {
  float:left;
}

.contents-item img {
  padding:0px 80px;
  border-radius:50%;
}

.contents-item h1 {
  font-size: 100px;
  margin:0;
}

.contents-item h3 {
  font-size:80px;
  margin:0;
  font-weight: normal;
}

.contents-item li {
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  float:left;
  color:#ffffff;
  font-size: 12px;
  padding:42px;
  border:1px solid #000000;
  background-color:#E3277B;
}

.projects {
  height:350px;
  border:1px solid #E3277B;
}

.projects-item {
  float:left;
}

.projects-item img {
  padding:40px 80px;
  height:50%;
  width:50%;
}

.projects-item h4 {
  padding-top:20px;
}

.projects-item p {
  float:left;
}

.skills {
  height:200px;
  background-color:#b5b5b5;
  border:1px solid #E3277B;
}



.footer {
  background-color:#AFAFAF;
  height: 60px;
  padding:40px;
  margin:100px;
}

.footer-logo {
  float:left;
  font-size:16px;
}

.footer-list {
  float:right;
}

/*.footer-list li {
  padding-bottom: 5px;
}*/
